<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!-- Header -->
  <header>
    <div id="header-presentation" class="bg-warning">
      <div class="container pt-5">
        <div class="aboutme pt-5 mt-5 pb-5 mb-2">
          <h1 class="julien_coart text-center text-white mb-5">Julien Coart</h1>
          <div class="wrapper">
            <h2 class="text-white text-center p-2 typing-demo">Développeur Web et Web Mobile</h2>
          </div>
          <hr class="hr text-white mx-auto w-50">
          <div class="text-center">
            <button type="button" class="btn text-dark mt-4 mb-4 text-center" data-bs-toggle="button"
              autocomplete="off">
              <a class="btn btn-light" target="_blank" href="" download>Obtenir mon CV</a></button>
          </div>
        </div>
      </div>
      <div class="text-center mt-5 mb-5">
        <button id="togg1" class="btn btn-light">Qui suis-je ?</button>
      </div>
      <div id="d1" style="visibility: hidden;">
        <p class="text-white text-center mx-auto mt-3">Tout juste titulaire d'un Titre de Développeur Web et Web Mobile,
          je souhaite mettre ma passion au service d'une entreprise.</p>
      </div>
  </header>

  <!-- Page Content -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Julien Coart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Présentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Compétences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Projets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="heading">
          <h2>COMPETENCES</h2>
          <div class="sub-heading pt-2"></div>
          <h3>Ce que je sais faire</h3>
        </div>
      </div>
    </div>

    <div class="card text-center w-75 mx-auto">
      <div class="card-header">
      </div>
      <div class="card-body">
        <h4 class="card-title slide-in-left">
          Mes Compétences Techniques
        </h4>
        <h5 class="pt-3"><span class="badge bg-secondary slide-in-fwd-top">HTML</span>&nbsp;&nbsp;<span
            class="badge bg-secondary slide-in-fwd-top">CSS</span>&nbsp;&nbsp;<span
            class="badge bg-secondary slide-in-fwd-top">JAVASCRIPT</span>
          <span class="badge bg-secondary slide-in-fwd-top">PHP</span>&nbsp;&nbsp;<span
            class="badge bg-secondary slide-in-fwd-top">SQL</span>
        </h5>
      </div>
      <div class="card-body">
        <h4 class="card-title slide-in-left">
          Mes FrameWork
        </h4>
        <h5 class="pt-3"><span class="badge bg-secondary slide-in-fwd-top">React.Js</span>&nbsp;&nbsp;<span
            class="badge bg-secondary slide-in-fwd-top">Symfony</span>&nbsp;&nbsp;<span
            class="badge bg-secondary slide-in-fwd-top">MySQL</span></h5>
      </div>
      <div class="card-body">
        <h4 class="card-title slide-in-left">
          Mes Visuels
        </h4>
        <h5 class="pt-3"><span class="badge bg-secondary slide-in-fwd-top">Canva</span>&nbsp;&nbsp;<span
            class="badge bg-secondary slide-in-fwd-top">Illustrator</span>&nbsp;&nbsp;</h5>
      </div>
      <div class="card-body">
        <h4 class="card-title slide-in-left">
          Mes Plus
        </h4>
        <p class="card-text">
        <h5 class="pt-3"><span class="badge bg-secondary slide-in-fwd-top">GitHub</span>&nbsp;&nbsp;<span
            class="badge bg-secondary slide-in-fwd-top">Wordpress</span>&nbsp;&nbsp;<span
            class="badge bg-secondary slide-in-fwd-top">Google
            Analytics</span></h5>
      </div>
      <div class="card-body">
        <h4 class="card-title slide-in-left">
          Mes Soft Skills
        </h4>
        <h5 class="pt-4">Cultivé&nbsp;
          <i class="fas fa-book"></i>
        </h5>
        <h5>Polyvalent&nbsp;
          <i class="fas fa-hand-spock"></i>
        </h5>
        <h5>Travail en équipe&nbsp;
          <i class="fas fa-user-friends"></i>
        </h5>
        <h5>Curieux&nbsp;
          <i class="fas fa-question"></i>
        </h5>
        <h5>Avenant&nbsp;
          <i class="fas fa-smile"></i>
        </h5>
      </div>
      <div class="card-footer text-muted">
      </div>
    </div>
    <hr class="hr text-dark mx-auto w-50">

    <!-- Timeline -->
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="heading">
          <h2>Parcours</h2>
          <div class="sub-heading pt-2"></div>
          <h3>Ce que j'ai fais</h3>
        </div>
      </div>
    </div>
    <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
    <div class="history-tl-container">
      <ul class="tl">
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
            16 août 2021 - 16 octobre 2021<br>
          </div>
          <div class="item-title">Stage chez Vert Marine</div>
          <div class="item-detail">Durant ce stage dans le cadre de ma formation à l'AFPA, j'ai mis en place une
            application analytique du nom de VMA (Vert Marine Analytics).
            Le but de ce stage était de mettre en place une application qui générait des graphiques aux diverses
            statistiques selon le site VERT MARINE.<br />
            J'ai pour cela crée une application avec les technologies suivantes :<br />
            - Symfony 5 a été choisi pour ses bundles, sa modularité, son appel à la base donnée avec Doctrine et son
            modèle MVC facile à mettre en place.<br />
            - Chart.Js a été choisi pour générer des graphiques professionnels et épurés.<br />
            - MySQL a été choisi en tant que SGBD.<br />
            - L'application utilise les langages basiques comme Javascript, PHP 7.4 et les langages de balisage HTML5 et
            CSS3.<br /></div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
            15 février 2021 - 29 octobre 2021<br>
          </div>
          <div class="item-title">Formation à l'AFPA DWWM</div>
          <div class="item-detail">Objectifs de la formation :<br /><br />

            Module 1. Développer la partie front-end d’une application web ou web mobile en intégrantles recommandations
            de sécurité : maquettage d'une application - Réalisation d'uneinterface utilisateur web statique et
            adaptable - Développement d'une interface utilisateurweb dynamique - Réalisation d'une interface utilisateur
            avec une solution de gestion decontenu ou e-commerce.<br /><br />

            Module 2. Développer la partie back-end d’une application web ou web mobile enintégrant les recommandations
            de sécurité : Création d'une base de données -Développement des composants d’accès aux données -
            Développement de la partie back-end d’une application web ou web mobile - Elaboration et mise en œuvre des
            composantsdans une application de gestion de contenu ou e-commerce.<br /></div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
            Novembre 2019 - Octobre 2020<br>
          </div>
          <div class="item-title">Sushiman chez SushiShop</div>
          <div class="item-detail">Préparation culinaire dans le respect des recettes, des normes et procédures chez
            Sushi Shop.<br />
            Il s'agissait de :<br />
            - préparer les sushis, makis et autres spécialité culinaire japonaise présente sur la carte<br />
            - préparer et organiser son plan de travail<br />
            - garantir l'hygiène alimentaire lors de la confection<br />
            - apprentissage des normes HACCP<br />
            - veiller à l'entretien du matériel<br />
            - survivre à la ruée vers Sushi Shop le jour de la Saint Valentin<br /></div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
            Mars 2019 - Octobre 2019<br>
          </div>
          <div class="item-title">Community Manager au sein du site JeuGeek.com</div>
          <div class="item-detail">Site spécialisé dans l'information et la critique de série, manga, film, de Hi-Tech
            et de jeu vidéo.<br />
            Mon rôle :<br />
            - établir une stratégie web pour le nouveau compte Instagram<br />
            - assurer une analyse et un reporting de mes activités<br />
            - mettre en oeuvre la stratégie de contenu<br />
            - animer la communauté Facebook et Instagram<br />
            - rédiger des articles pour le site sous le nom de "Oni"<br /></div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
            Octobre 2018 - Février 2019<br>
          </div>
          <div class="item-title">Community Manager stage à J'aibesoindecom'</div>
          <div class="item-detail">
            Sous la tutelle de ma chef de stage :<br />
            - mise en place de stratégie Web pour des clients (TPE / PME)<br />
            - benchmarking<br />
            - veille<br />
            - création de visuels (Canva et Illustrator)<br />
            - rédaction Web<br />
            - mise en place d'e-mailing (Mailchimp)<br />
            - référencement SEA (Google Adwords)<br />
            - animation de communauté Facebook - Instagram - Twitter / mise en place d'un contenu adapté<br />
            - rédaction de blog sur le Linkedin de J'aibesoindecom'<br />
            - modération<br /></div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
            Juin 2017 - Mars 2018<br>
          </div>
          <div class="item-title">Assistant Manager chez Quick</div>
          <div class="item-detail">Gestion des stocks, inventaire,
            gestion des Grillmans.</div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
            Octobre 2017 - Juin 2017<br>
          </div>
          <div class="item-title">Chef Restaurant Oni</div>
          <div class="item-detail">Ancien patron du 1er restaurant d'Onigiri en France (parce qu'il n'y a pas que des
            sushis au Japon) ! Ce sont des berlingots de riz avec une garnitures à l'intérieur ou bien mélangé au riz,
            en forme de triangle de manière traditionnelle ou parfois en forme de personnages.<br />
            Il s'agissait de :<br />
            - établir un plan d'organisation de la cuisine (organisation du travail, organisation des stocks etc.)<br />
            - essayer de créer de nouvelles recettes<br />
            - préparation de flyers de lancement<br />
            - création d'un site internet via Wix (lien ci-dessous)<br />
            - accueil des clients<br />
            - faire comprendre que "non, les Onigiris ne sont pas des sushis en plus gros"<br /></div>
        </li>
      </ul>
    </div>
    <hr class="hr text-dark mx-auto w-50">

    <!-- Project Page - Carousel -->
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="heading">
          <h2> MES PROJETS</h2>
          <div class="sub-heading"></div>
          <h3>Mon portfolio</h3>
        </div>
      </div>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide w-75 mx-auto mb-5" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
          aria-label="Slide 5"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active"
          style="background-image: url('https://source.unsplash.com/RCAhiGJsUUE/1920x1080')">
          <div class="carousel-caption">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1920x1080')">
          <div class="carousel-caption">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('https://source.unsplash.com/lHGeqh3XhRY/1920x1080')">
          <div class="carousel-caption">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('https://source.unsplash.com/lHGeqh3XhRY/1920x1080')">
          <div class="carousel-caption">
            <h5>Fourth slide label</h5>
            <p>Some representative placeholder content for the fourth slide.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('https://source.unsplash.com/lHGeqh3XhRY/1920x1080')">
          <div class="carousel-caption">
            <h5>Fifth slide label</h5>
            <p>Some representative placeholder content for the fifth slide.</p>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <hr class="hr text-dark mx-auto w-50">
  </section>

  <!-- Footer -->
  <footer class="bg-dark text-center text-white">
    <h2 class="text-center pb-2 pt-5 w-75 mx-auto">Pour me contacter :
      <hr className="hr w-100">
      </hr>
    </h2>
    <div class="blabla text-center w-75 mx-auto">

      <p>Tout juste titulaire d'un titre de Véveloppeur Web et Web mobile à l'AFPA du Saint-Etienne du Rouvray, je suis
        à la recherche d'un emploi dans mon secteur en Normandie ou dans le bassin parisien.
        Si mon profil vous intéresse, vous pouvez directement me contacter
        en cliquant sur le lien ci-joint : <a class="mailto"
          href="mailto:julien.coart@gmail.com">julien.coart@gmail.com.</a>
      </p>
    </div>

    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/julien-coart-86142a147/"
          role="button"><i class="fab fa-linkedin-in"></i></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/JulienDev76-75" role="button"><i
            class="fab fa-github"></i></a>
      </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Julien Coart
    </div>
  </footer>

  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>